@page "/Feira/{nomeFeira}/{idProduto}"
@model EZFair.Pages.AnuncioModel
@{
}

<h1>@AnuncioModel.nome</h1>

<p>Preço: @AnuncioModel.preco</p>
<p>Descrição do produto: @Model.descricao</p>

<form method="post">
    <button type="submit" class="btn btn-primary" asp-page-handler="Comprar">Comprar</button>
</form>


