@page "/Feira/{nomeFeira}/{idProduto}/ComprarProduto"
@model EZFair.Pages.ComprarProdutoModel
@{
}

<h1>meter as cenas que vocês quiserem</h1>

<form method="post">
    <button type="submit" class="btn btn-primary" asp-page-handler="ConfirmarCompra">Confirmar</button>
</form>