@page
@model EZFair.Pages.PerfilEmpresaModel
@{
    ViewData["Title"] = "Empresa";
}

<h1>@ViewData["Title"]</h1>

<p>Name: @Model.nome</p>
<p>Email: @Model.email</p>

<form method="post">
    <button type="submit" class="btn btn-primary" asp-page-handler="CriarFeira">Criar Feira</button>
</form>
