@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="text-center mt-5">Privacy Policy</h1>
    <p>Our website, EZFair, is committed to protecting the privacy and personal information of our users. This privacy policy outlines the types of personal information we collect, how we use it, and the steps we take to protect it.</p>
    <h2>Information Collection and Use</h2>
    <p>We may collect the following types of personal information from users:</p>
    <ul>
        <li><p>Contact information, such as name and email address</p></li>
        <li><p>Usage data, such as website browsing history and preferences</p></li>
    </ul>
    <p>We use this information to personalize the user experience, improve our services, and send promotional and informational communications. Users may opt-out of receiving communications by contacting us at support@ezfair.com or by using the unsubscribe link in emails.</p>
    <h2>Cookies and Tracking Technologies</h2>
    <p>We use cookies and other tracking technologies to improve the user experience and gather analytics data. A cookie is a small file of letters and numbers that we store on your browser or the hard drive of your device if you agree. Cookies contain information that is transferred to your device's hard drive. You can disable cookies in your browser settings, but please note that doing so may affect your ability to use certain features of our website.</p>
    <h2>Data Security</h2>
    <p>We take appropriate measures to protect the personal information of our users from unauthorized access, use, or disclosure. Our website follows industry standards to protect the personal information submitted to us, both during transmission and once   we receive it.</p>
    <p>We also have implemented strict internal guidelines to ensure the security and confidentiality of user information.</p>
    <h2>Third-Party Services</h2>
    <p>Our website may contain links to other websites and services. We are not responsible for the privacy practices or the content of these third-party services. We encourage users to read the privacy policies of these third-party services before    providing any personal information.</p>
    <h2>Changes to this Privacy Policy</h2>
    <p>We reserve the right to update or modify this privacy policy at any time. If we make any changes, we will notify users through a notice on our website or by sending an email to the email address provided. Users are encouraged to review this privacy policy periodically to stay informed of any updates.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions or concerns about this privacy policy or your personal information, please contact us at support@ezfair.com.</p>
    <br>
    <br>
</div>

