@page
@model EZFair.Pages.RegistoModel
@{
    ViewData["Title"] = "Registo";
}

<h1>@ViewData["Title"]</h1>
<form method="POST">
      <label for="Nome">Nome:</label><br>
      <input type="text" id="nome" name="nome"><br>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br>
      <label for="phone">Phone:</label><br>
      <input type="text" id="phone" name="phone"><br><br>
      <input type="submit" value="Submit">
</form>
<form>
    <input type="submit" value="Cliente", onclick="EZFair.Pages.RegistoModel.test('username', 'password')"/>
</form>
